*{
    margin: 0;
    padding: 0;
}

h2{
    width: 93px;
    height: 36px;
    font-family: poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #4F4F4F;
    margin-left: 83px;
    margin-top:53px ;
}

.Button-1{
    display: flex;
}

.Button-1 p{
    width: px;
    height: 12px;
    margin-left: 82px;
    margin-top: 28px;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray-1, #333);
}

.Button-1 .h-f{
    color:#828282 ;
    margin-left:172px;
}

.button-1{
    display: flex;
}

.button-i button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #3F3F3F;
    line-height: normal;
    font-weight: 500;
    height: 36px;
    width: 81px;
    flex-shrink: 0;
    background: #E0E0E0;
    box-shadow: 0px 2px 3px 0px rgba(51, 51, 51, 0.20);
    margin-left: 82px;
    margin-top:12px ;
    border-radius: 6px;
    border: 0;
}

.button-ii button{
    color: #3F3F3F;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    height: 36px;
    width: 81px;
    flex-shrink: 0;
    background: #AEAEAE;
    box-shadow: 0px 2px 3px 0px rgba(51, 51, 51, 0.20);
    margin-left: 155px;
    margin-top:12px ;
    border-radius: 6px;
    border: 0;
}

/* 2 Part */

.section-2{
    margin-top: 45px;
}

.Button-2{
    display: flex;
}

.Button-2 p{
    width: auto;
    height: 12px;
    margin-left: 82px;
    margin-top: 28px;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray-1, #333);
}

.Button-2 .h-f{
    color:#828282 ;
    margin-left: 66px;
}

.button-2{
    display: flex;
}

.button-iii button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #3D5AFE;
    line-height: normal;
    font-weight: 500;
    height: 36px;
    width: 88px;
    flex-shrink: 0;
    background: #FFF;
    margin-left: 82px;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #3D5AFE;
}

.button-iv button{
    color: #3D5AFE;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    height: 36px;
    width: 88px;
    flex-shrink: 0;
    background: rgba(41, 98, 255, 0.10);
    margin-left: 150px;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #3D5AFE;
}

/* 3 Part */

.section-3{
    margin-top: 45px;
}

.Button-3{
    display: flex;
}

.Button-3 p{
    width: auto;
    height: 12px;
    margin-left: 82px;
    margin-top: 28px;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray-1, #333);
}

.Button-3 .h-f{
    color:#828282 ;
    margin-left: 86px;
}

.button-3{
    display: flex;
}

.button-v button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #3D5AFE;
    line-height: normal;
    font-weight: 500;
    height: 36px;
    width: 88px;
    flex-shrink: 0;
    background: #FFF;
    margin-left: 82px;
    margin-top: 13px;
    border: 0;
}

.button-vi button{
    color: #3D5AFE;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    height: 36px;
    width: 88px;
    flex-shrink: 0;
    background: rgba(41, 98, 255, 0.10);
    margin-left: 150px;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #3D5AFE;
}

/* 4 Part */

.section-4{
    margin-top: 45px;
}

.Button-4{
    display: flex;
}

.Button-4 p{
    width: auto;
    height: 12px;
    margin-left: 82px;
    margin-top: 28px;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray-1, #333);
}

.button-4{
    display: flex;
}

.button-vii button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #FFF;
    line-height: normal;
    text-align: center;
    font-weight: 500px;
    height: 36px;
    width: 81px;
    flex-shrink: 0;
    background: #3D5AFE;
    margin-left: 82px;
    margin-top: 13px;
    border: 1px solid #3D5AFE;
    border-radius: 6px;
    
}

/* 5 Part */

.section-3{
    margin-top: 45px;
}

.Button-5{
    display: flex;
}

.Button-5 p{
    width: auto;
    height: 12px;
    margin-left: 82px;
    margin-top: 50px;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.Button-5 .h-f{
    color:#000 ;
    margin-left: 135px;
}

.button-5{
    display: flex;
}

.button-viii button{
    color: #9E9E9E;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    height: 36px;
    width: 88px;
    flex-shrink: 0;
    background: #E0E0E0;
    margin-left: 82px;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #9E9E9E;;
}

.button-ix button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #9E9E9E;
    line-height: normal;
    font-weight: 500;
    height: 36px;
    width: 88px;
    flex-shrink: 0;
    background: #FFF;
    margin-left: 155px;
    margin-top: 13px;
    border: 0;
    
}

/* 6 Part */
.section-6{
    margin-top: 45px;
}

.Button-6{
    display: flex;
}

.Button-6 p{
    width: auto;
    height: 12px;
    margin-left: 82px;
    margin-top: 28px;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.Button-6 .h-f{
    color: #000;
    margin-left: 66px;
}

.button-6{
    height: 16px;
    width: 16px;
    display: flex;
}

.button-x button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #FFF;
    line-height: normal;
    text-align: center;
    font-weight: 500;
    height: 36px;
    width: 105px;
    flex-shrink: 0;
    box-shadow: 0px 2px 3px 0px rgba(0, 49, 202, 0.20);
    margin-left: 82px;
    background: #2962FF;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #2962FF;
    
}

.button-xi button{
    color: #FFF;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    height: 36px;
    width: 105px;
    flex-shrink: 0;
    box-shadow: 0px 2px 3px 0px rgba(0, 49, 202, 0.20);
    background: #2962FF;
    margin-left: 227px;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #3D5AFE;
}

/* 7 Part */
.section-7{
    margin-top: 45px;
}

.Button-7{
    display: flex;
}

.Button-7 p{
    width: auto;
    height: 12px;
    margin-left: 82px;
    margin-top: 45px;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.Button-7 .large{
    margin-left: 79px;
}


.button-7{
    height: 16px;
    width: 16px;
    display: flex;
}

.button-xii button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #FFF;
    line-height: normal;
    text-align: center;
    font-weight: 500;
    height: 32px;
    width: 73px;
    flex-shrink: 0;
    box-shadow: 0px 2px 3px 0px rgba(0, 49, 202, 0.20);
    margin-left: 82px;
    background: #2962FF;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #2962FF;
}

.button-xiii button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #FFF;
    line-height: normal;
    text-align: center;
    font-weight: 500;
    height: 36px;
    width: 81px;
    flex-shrink: 0;
    box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.20);
    margin-left: 131px;
    background: #2962FF;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #2962FF;
}

.button-xiv button{
    color: #FFF;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    height: 42px;
    width: 93px;
    flex-shrink: 0;
    box-shadow:0px 2px 3px 0px rgba(0, 49, 202, 0.20);
    background: #2962FF;
    margin-left: 127px;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #3D5AFE;
}

/* 8 Part */
.section-8{
    margin-top: 45px;
}

.Button-8{
    display: flex;
}

.Button-8 p{
    width: 200px;
    height: 12px;
    margin-left: 82px;
    margin-top: 45px;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.Button-8 .medium{
    margin-left: 10px;
}

.Button-8 .large{
    margin-left: 10px;
}

.Button-8 .danger{
    margin-left: 30px;
}


.button-8{
    height: 16px;
    width: 16px;
    display: flex;
}

.button-xv button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #3f3f3f;
    line-height: normal;
    text-align: center;
    font-weight: 500;
    height: 36px;
    width: 81px;
    flex-shrink: 0;
    box-shadow: 0px 2px 3px 0px rgba(51, 51, 51, 0.20);
    margin-left: 82px;
    background: #E0E0E0;
    margin-top:12px ;
    border-radius: 6px;
    border: 0
}

.button-xvi button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #FFF;
    line-height: normal;
    text-align: center;
    font-weight: 500;
    height: 36px;
    width: 81px;
    flex-shrink: 0;
    box-shadow:0px 2px 3px 0px rgba(41, 98, 255, 0.20);
    margin-left: 131px;
    background: #2962FF;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #2962FF;
}

.button-xvii button{
    color: #FFF;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    height: 36px;
    width: 104px;
    flex-shrink: 0;
    box-shadow:0px 2px 3px 0px rgba(69, 90, 100, 0.20);
    background: #455A64;
    margin-left: 127px;
    margin-top:12px ;
    border-radius: 6px;
    border: 0;
}

.button-xviii button{
    color: #FFF;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    height: 36px;
    width: 81px;
    flex-shrink: 0;
    box-shadow:0px 2px 3px 0px rgba(211, 47, 47, 0.20);
    background: #D32F2F;
    margin-left: 127px;
    margin-top:12px ;
    border-radius: 6px;
    border: 0;
}

/* 9 Part */
.section-9{
    margin-top: 45px;
}

.Button-9{
    display: flex;
}

.Button-9 p{
    width: 200px;
    height: 12px;
    margin-left: 82px;
    margin-top: 45px;
    font-family: Ubuntu Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray-3, #828282);
}

.Button-9 .medium{
    margin-left: 10px;
}

.Button-9 .large{
    margin-left: 10px;
}

.Button-9 .danger{
    margin-left: 30px;
}


.button-9{
    height: 16px;
    width: 16px;
    display: flex;
}

.button-xix button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #3F3F3F;
    line-height: normal;
    text-align: center;
    font-weight: 500;
    height: 36px;
    width: 81px;
    flex-shrink: 0;
    box-shadow: 0px 2px 3px 0px rgba(51, 51, 51, 0.20);
    margin-left: 82px;
    background: #AEAEAE;
    margin-top:12px ;
    border-radius: 6px;
    border: 0
}

.button-xx button{
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    color: #FFF;
    line-height: normal;
    text-align: center;
    font-weight: 500;
    height: 36px;
    width: 81px;
    flex-shrink: 0;
    box-shadow:0px 2px 3px 0px rgba(41, 98, 255, 0.20);
    margin-left: 131px;
    background: #0039CB;
    margin-top:12px ;
    border-radius: 6px;
    border: 1px solid #2962FF;
}

.button-xxi button{
    color: #FFF;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    height: 36px;
    width: 104px;
    flex-shrink: 0;
    box-shadow:0px 2px 3px 0px rgba(69, 90, 100, 0.20);
    background: #1C313A;
    margin-left: 127px;
    margin-top:12px ;
    border-radius: 6px;
    border: 0;
}

.button-xxii button{
    color: #FFF;
    font-family: Noto Sans JP;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    height: 36px;
    width: 81px;
    flex-shrink: 0;
    box-shadow:0px 2px 3px 0px rgba(211, 47, 47, 0.20);
    background: #9A0007;
    margin-left: 127px;
    margin-top:12px ;
    border-radius: 6px;
    border: 0;
}

.footer-content{
    color: #827b7b;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 82px;
    text-decoration-line: underline;  

}

.footer-content a{
    color: #000;
    font-weight: 700;
    margin-left: 10px;
}